*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	height: 100%;
	background: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&h=350") no-repeat center center fixed;
	background-size: cover;
}

.nav-item > a{
	color:white;
}
.nav-item > a:hover{
	color:lightgrey;
}

.page-content{
	width: 80%;
	border-radius: 0 0 5px 5px;
	background-color: rgb(249, 242, 236);
	height: auto;
}

.Categorie-title{
	margin: 0 0 0 2vh;
	font-weight: bold;
	font-size: 32px;
}

.Categorie-content{
	margin: 1vh 0 0 4vh;
	font-size: 18px;
}

.Categorie-image{
	margin: 1vh 0 0 2vh;
	height: auto;
}

li{
	margin-left: 4vh;
}