*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

p{
	
}

html{
	height: 100%;
}

body{
	height: 100%;
	background: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&h=350") no-repeat center center fixed;
	background-size: cover;
}


#Problematique{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.navbar{
	box-shadow: 0px 0px 1em 0px #343A40;
}

.nav-item > a{
	color:white;
}
.nav-item > a:hover{
	color:lightgrey;
}

.page-content{
	width: 80%;
	border-radius: 0 0 5px 5px;
	background-color: #ecf0f1;
	height: auto;
}

.Jumper{
	padding-bottom: 3.5em;
}

.Categorie-title{
	margin: 0 0 0 2vh;
	font-weight: bold;
	font-size: 32px;
	padding-top: 2vh;
}

.Categorie-content{
	margin: 1vh 4vh 0 4vh;
	font-size: 20px;
	text-align: justify;
}

.Categorie-image{
	margin: 1vh 0 1vh 2vh;
	height: auto;
}

.Categorie-question{
	font-family: arial;
}

.Info{
	text-decoration: underline;
	color: #e50000;
}

.image-legende{
	font-size: 12px;
	color: blue;
	margin-top: 1.5rem;
}

.casques img{
	width: 40%;
	height: auto;
}

.Categorie-content li{
	margin-left: 4vh;
	margin-bottom: 1em;
}

.Footer{
	background-color: #343A40;
	border-radius: 0 0 5px 5px;
	text-align: center;
	color: #ecf0f1;
	padding: 0.25rem;
}

.Footer a{
	color: #3498db;
	text-decoration: none;
}

.Footer a:hover{
	text-decoration: underline;
	color: #2980b9
}

.Billes img {
	transform: rotate(90deg);
	width: 20%;
	height: auto;
	margin: 5% -2%;
}

#Vibration-Legende{
	font-size: 1.5rem;
	margin-top: 20%;
}
.noDot{
	list-style-type: none;
}